form {
    max-width: 550px;
    width: 90%;
    background: rgb(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(240, 124, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.23);
    margin: 1vh auto 0 auto;
    padding: 40px;
    border-radius: 16px;
    box-sizing: border-box;
}

label {
    display: block;
    margin: 20px 0;
    color: rgb(119, 128, 141);
    font-family: 'Noto Sans Display', sans-serif;
}

input, textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    border: 1px solid #d3d3d3;
}

input[type="text"]:focus, textarea:focus {
    border-image: linear-gradient(90deg, rgb(146, 241, 253), pink, violet,  rgb(224, 255, 134)) 1;
}

textarea::-webkit-scrollbar {
    width: 4px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: rgb(251, 210, 255);
}

.center {
    text-align: center;
}

input[type="submit"] {
    margin-top: 30px;
    width: 90%;
    max-width: 200px;
    background: linear-gradient(45deg, rgb(255, 219, 225), rgb(241, 213, 255), rgb(238, 255, 185), rgb(187, 247, 255));
    color: rgb(56, 71, 83);
    font-size: 17px;
    cursor: pointer;
    border-radius: 3px;
}


input[type="submit"]:hover {
    transition: 1s;
    font-size: 16px;
}

@media screen and (max-width: 600px) {
    input[type="submit"] {
        width: 50%;
        max-width: 150px;
        font-size: 10px;
    }
}
